@media screen and (max-width: 1570px) {
  .rectangle-decorate-block {
    top: -156px;
    right: -136px;
  }
  .rectangle-decorate-block__transparent {
    top: 42%;
    left: 109px;
    width: 138.45px;
    height: 138.45px;
  }
  .rectangle-decorate-block__arr-white {
    top: -77px;
  }
  .rectangle-decorate-block__arr-transparent {
    top: -77px;
  }
  .header-slider .arrow-decorate--right {
    left: 80%;
  }
  .header-slider .arrow-decorate--left {
    top: -25px;
    left: -79px;
  }
  .about-section .square-decorate {
    top: -207px;
    left: -296px;
  }
  .about-section .square-decorate--transparent {
    left: -257px;
    top: -200px;
  }
  .about-section .arrow-decorate {
    left: -129px;
  }
  .about-section .dots-decorate-blue {
    top: 260px;
    left: -50px;
  }
  .comments-section .arrow-decorate-blue {
    left: 0;
  }
  .comments-section .arrow-decorate-greey {
    right: -77px;
  }
}
@media screen and (max-width: 1450px) {
  .header-decorate {
    top: -154%;
  }
}
@media screen and (max-width: 1200px) {
  .header-decorate {
    right: 55%;
    top: -156%;
  }
  .header-slider__mail-title {
    font-size: 55px;
  }
  .header-slider__subtitle {
    font-size: 27px;
  }
  .header-slider__block {
    margin-top: 80px;
  }
  .universe-item {
    max-width: 80px;
    border-radius: 30px;
  }
  .universe-item__title {
    font-size: 12px;
  }
  .universe-item__text {
    font-size: 10px;
  }
  .admission-form {
    padding: 18px 22px 22px 22px;
  }
  .admission-form__header {
    font-size: 24px;
  }
}
@media screen and (max-width: 997px) {
  .header-slider {
    background-position: 52%, 40%;
  }
  .rectangle-decorate-block {
    right: -231px;
  }
  .about {
    width: 60%;
  }
  .admission-form__header {
    font-size: 18px;
  }
  .admission-form__item {
    padding: 14px 0;
  }
}
@media screen and (max-width: 800px) {
  .check-universe {
    margin-bottom: 40px;
  }
  .check-universe__wrap {
    flex-direction: column;
  }
  .check-universe__buttons {
    display: flex;
    margin-right: 20px;
  }
  .check-universe__btn {
    margin: 9px 0;
    padding: 6px 16px;
    width: 146px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 18.5px;
    font-size: 20px;
    text-align: center;
  }
  .check-universe__btn--active {
    background: linear-gradient(207.28deg, #ff0000 9.11%, #ce0000 98.12%);
    position: relative;
  }
  .check-universe__list {
    flex-direction: column;
  }
  .check-universe__list::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, 0);
    height: 3px;
    background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
    width: 100%;
    z-index: -1;
  }
  .check-universe__list::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    left: -20px;
    top: 50%;
    transform: translate(-50%, -4px);
    background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%);
  }
  .universe-items {
    flex-direction: column;
  }
  .universe-item {
    margin: 0 auto;
    max-width: 221px;
  }
}
