.comment-item {
  padding: 0 20px 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 653px;
  position: relative;
  background: #FFFFFF;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #fff;
}
.comment-item__title {
  left: -1px;
  top: -32px;
  padding: 5px 20px 1px;
  position: absolute;
  /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25); */
  border: 1px solid #ccc;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  background-color: #fff;
  border-bottom: none;
}
.comment-item__title-wrap {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 133.3%;
  color: #0066FF;
}
.comment-item__line {
  width: 100%;
  height: 2px;
  background: linear-gradient(207.28deg, #ff0000 9.11%, #ce0000 98.12%);
  border-radius: 18.5px;
  border: none;
  outline: none;
}
.comment-item__date {
  font-size: 10px;
  line-height: 12px;
  color: #018FF6;
}
.comment-item__text {
  font-size: 14px;
  line-height: 16px;
  color: #737373;
}
.comment-item__btn {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
.test {
  margin-top: 50px;
}
.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about-text {
  width: 60%;
  text-align: justify;
}
.about-form {
  display: flex;
  width: 30%;
  z-index: 999;
}
