@media screen and (max-width: 1770px) {
  .rectangle-decorate-block {
    right: 0px;
  }
  .diamond-decorate {
    position: absolute;
    width: 168px;
    height: 168px;
    border-radius: 28px;
    transform: matrix(0.71, -0.69, 0.72, 0.71, 0, 0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    left: -137px;
    top: -9px;
  }
  .diamond-decorate .diamond-decorate-transparent {
    top: 74%;
    left: 30%;
    transform: translate(0, -50%);
    position: absolute;
    width: 145.77px;
    height: 145.77px;
    border: 4px solid #BDBDBD;
    border-radius: 28px;
  }
}
@media screen and (max-width: 1600px) {
  .rectangle-decorate {
    right: 50%;
    top: -142px;
    width: 989.42px;
    height: 812.9px;
  }
  .rectangle-decorate__inner {
    width: 939.89px;
    height: 760.76px;
  }
  .header-slider .dots-img {
    width: 64px;
    height: 50px;
  }
  .header-slider .arrow-decorate {
    position: absolute;
    top: -60px;
    left: 20px;
    z-index: 1;
  }
  .header-slider .arrow-decorate--right {
    left: 93%;
    top: -33px;
    width: 111.32px;
    height: 168.24px;
  }
  .header-slider__content {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .header-slider__block {
    max-width: 445px;
  }
  .header-slider__mail-title {
    font-size: 74px;
    margin-top: 24px;
    margin-bottom: 0;
  }
  .header-slider__assistant-subtitle {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  .header-slider__subtitle {
    font-size: 28px;
  }
  .header-slider__info {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
  }
  .header-slider__nav {
    position: relative;
    margin-top: 40px;
    padding-bottom: 30px;
    max-width: 70px;
  }
  .header-slider__nav-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    border-left: 3px solid rgba(255, 255, 255, 0.8);
    opacity: 0.8;
  }
  .header-slider__nav-item--active {
    font-size: 25px;
    line-height: 29px;
    margin-left: 0;
  }
  .universities .square-decorate {
    top: -46%;
    z-index: 2;
    left: -434px;
  }
  .universities .square-decorate--transparent {
    top: -46%;
    z-index: 2;
    left: -396px;
  }
  .universities .dots-decorate-red {
    right: -37px;
    bottom: -31px;
  }
  .header-assistent-slider {
    left: 20%;
  }
  .academic-header .diamond-decorate {
    top: 45px;
    left: 98%;
  }
  .academic-header .arrow-decorate {
    width: 103.16px;
    height: 156.28px;
    left: 10px;
    top: -95px;
  }
  .benefits .arrow-decorate {
    width: 121px;
    height: 178px;
    bottom: -151px;
    left: 0;
    z-index: -1;
  }
  .feedback .diamond-decorate {
    left: -56px;
    transform: matrix(-0.71, -0.69, -0.72, 0.71, 0, 0);
    top: 241px;
  }
  .feedback .diamond-decorate .diamond-decorate-transparent {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .header-assistent-slider {
    left: 16%;
  }
  .diamond-decorate {
    left: -167px;
  }
}
@media screen and (max-width: 1200px) {
  .header__nav {
    display: none;
  }
  .universities .dots-decorate-red {
    width: 66.28px;
    height: 51.55px;
  }
  .admission .diamond-decorate {
    left: -163px;
    top: -50px;
  }
  .header-assistent-slider {
    left: 16%;
    max-width: 680px;
  }
  .rectangle-decorate-block {
    right: -106px;
  }
  .rectangle-decorate-block__red {
    width: 234.19px;
    height: 234.19px;
  }
  .rectangle-decorate-block__transparent {
    width: 217px;
    height: 217px;
  }
  .connection-info__item {
    display: none;
  }
  #menu,
  .connection-info__item--tablet,
  .connection-info__btn--tablet,
  .adaptive-header {
    display: block;
  }
  .connection-info__btn--sticky {
    display: none;
  }
  .button--sticky {
    display: none;
  }
  .connection-info__item--menu,
  .connection-info__item--search {
    display: flex;
  }
  .academic-header .diamond-decorate {
    display: none;
  }
  .academic-header .arrow-decorate {
    display: none;
  }
  .banner {
    font-size: 18px;
    width: 91px;
    height: 91px;
  }
  .banner::before {
    width: 75px;
    height: 75px;
  }
  .step-block {
    flex-basis: 136px;
  }
  .step-block__icon {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 1100px) {
  .header-assistent-slider {
    left: 11%;
  }
  .opacity {
    opacity: 1;
  }
  .academic-header .arrow-decorate {
    display: none;
  }
  .academic-header__title {
    font-size: 84px;
  }
  .academic__years {
    font-size: 27px;
  }
  .admission-form__header {
    font-size: 23px;
  }
  .footer-form__btn {
    margin: 20px auto 0;
  }
}
@media screen and (max-width: 997px) {
  .benefits-items {
    justify-content: center;
    margin: 50px -20px 0;
  }
  .benefits-item {
    margin: 20px;
  }
  .banner {
    width: 70px;
    height: 70px;
    font-size: 13px;
  }
  .banner::before {
    width: 57px;
    height: 57px;
  }
  .academic-header__title {
    font-size: 65px;
  }
  .connection-info__btn {
    padding: 12px 26px;
    margin-left: auto;
  }
  .steps-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
  }
  .admission-item-wrap {
    display: flex;
    justify-content: space-between;
  }
  .admission-item {
    margin-top: 36px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 26px;
  }
  .admission-item-wrap {
    flex-direction: column;
    width: 100%;
  }
  .admission-form--in-block {
    width: 100%;
    max-width: 100%;
  }
  .admission-form__header {
    text-align: center;
  }
  .admission-form__subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 997px) {
  .benefits-items {
    justify-content: center;
    margin: 50px -20px 0;
  }
  .rectangle-decorate {
    right: 40%;
    width: 1129.71px;
    height: 929.67px;
    /* left: -583px; */
    top: 19.83px;
    background: rgba(0, 150, 235, 0.7);
    border-radius: 28px;
    /* #0096EB */
    transform: matrix(0.71, -1.16, 0.43, 0.71, 0, 0);
  }
  .rectangle-decorate__inner {
    width: 1073.06px;
    height: 870.04px;
    top: 2px;
    left: 19px;
    background: linear-gradient(273.52deg, #0066ff -9.04%, #00369c 41.93%);
    opacity: 0.85;
  }
  .header-slider {
    background-position: 64%, 40%;
  }
  .header-slider__block {
    width: 40vw;
  }
  .header-slider__mail-title {
    font-size: 68px;
  }
  .header-slider__assistant-subtitle {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  .header-slider__subtitle {
    font-size: 28px;
  }
  .header-slider__info {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
  }
  .header-slider__nav {
    position: relative;
    margin-top: 40px;
    padding-bottom: 30px;
    max-width: 70px;
  }
  .header-slider__nav-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    border-left: 3px solid rgba(255, 255, 255, 0.8);
    opacity: 0.8;
  }
  .header-slider__nav-item--active {
    font-size: 25px;
    line-height: 29px;
    margin-left: 0;
  }
  .benefits-item {
    margin: 20px;
  }
  .banner {
    width: 70px;
    height: 70px;
    font-size: 13px;
  }
  .banner::before {
    width: 57px;
    height: 57px;
  }
  .academic-header__title {
    font-size: 65px;
  }
  .connection-info__btn {
    padding: 12px 26px;
    margin-left: auto;
  }
  .social-nav {
    right: 0;
  }
  .header-assistent-slider {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 890px) {
  .connection-info__btn {
    padding: 9px 21px;
  }
  .arrow-decorate {
    display: none;
  }
  .navigation-item__link {
    font-size: 10px;
  }
  .header-assistent-slider {
    left: 54%;
  }
  .academic-header__icon {
    width: 60px;
  }
  .academic-header__title {
    font-size: 55px;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-form__input {
    flex-basis: 100%;
    width: 80%;
    margin: 15px auto;
  }
  .footer-form__btn {
    margin: 0 auto;
  }
  .footer-items {
    margin: 0 -20px 0 -20px;
  }
  .admission-item-wrap {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .header--sticky {
    opacity: 1;
  }
  .header-slider {
    padding-bottom: 100px;
  }
  .header-slider__buttons {
    top: 40px;
  }
  .assistent-slider-wrap {
    max-width: 590px;
  }
  .assistent-slider-item {
    max-width: 185px;
    margin: 0 7px;
  }
  .header-slider__nav {
    max-width: 36px;
  }
  .header-assistent-slider {
    max-width: 590px;
    left: 56%;
  }
  .header-slider__nav-num {
    padding: 3px 13px;
  }
  .connection-info__btn--tablet,
  .connection-info__item--search,
  .connection-info--tablet-main,
  .social-links-list,
  .social-nav {
    display: none;
  }
  .social-links-list--mobile,
  .social-links-list--menu {
    display: flex;
  }
  .connection-info__btn--sticky {
    display: block;
  }
  .connection-info__btn {
    padding: 7px;
    bottom: -31px;
    right: 10px;
  }
  .rectangle-decorate-block {
    right: -85px;
  }
  .rectangle-decorate-block__red {
    width: 177.17px;
    height: 177.17px;
  }
  .rectangle-decorate-block__transparent {
    width: 153.17px;
    height: 153.17px;
    left: 136px;
  }
  .rectangle-decorate-block__arr-white {
    width: 72.19px;
    height: 110.7px;
    top: -51px;
    left: -8px;
  }
  .rectangle-decorate-block__arr-transparent {
    width: 72.19px;
    height: 110.7px;
    top: -58px;
    left: 17px;
  }
  .benefits-items {
    margin: 50px 0 0 0;
    display: grid;
    grid-template-areas: "one two" "three  four";
    grid-gap: 30px;
  }
  .benefits-item {
    margin: 0;
  }
  .benefits-item:nth-child(1) {
    grid-area: one;
  }
  .benefits-item:nth-child(2) {
    grid-area: two;
  }
  .benefits-item:nth-child(3) {
    grid-area: three;
  }
  .benefits-item:nth-child(4) {
    grid-area: four;
  }
}
@media screen and (max-width: 720px) {
  .steps-wrap {
    flex-direction: column;
    justify-content: center;
  }
  .step-block {
    max-width: 225px;
    margin: 0px auto 29px;
  }
  .step-block__header {
    position: relative;
    padding: 25px;
  }
  .step-block__header::after {
    content: "";
    position: absolute;
    width: 55%;
    height: 37px;
    left: 50%;
    background-color: #fff;
    border-top: 3px solid red;
    bottom: -17px;
    transform: rotate(-20deg);
  }
  .step-block__header::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 36px;
    left: -12px;
    background-color: #fff;
    border-top: 3px solid red;
    bottom: -16px;
    transform: rotate(20deg);
  }
  .banner {
    display: none;
  }
  .feedback-item__inner {
    grid-template-areas: 'img header' 'title title';
  }
  .feedback-item__img img {
    position: relative;
    bottom: 40px;
    display: block;
    border-radius: 28px;
    border-right: 4px solid #0031C4;
    border-bottom: 4px solid #0031C4;
    margin-right: 35px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .connection-info-tablet {
    width: 100%;
    justify-content: space-between;
  }
  .navigation-item--tablet {
    margin-right: 1%;
  }
  .navigation-item__link {
    font-size: 8px;
  }
  .navigation-item__icon {
    margin-right: 5px;
    width: 9px;
    height: 9px;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
  }
  .logo--header {
    flex-grow: 0;
  }
  .logo--header img {
    height: 25px;
    width: 113px;
  }
  #menu {
    margin-left: 0;
  }
  .square-decorate {
    display: none;
  }
  .header-slider__buttons {
    display: none;
  }
  .slider-header-btn {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 999;
  }
  .slider-header-btn--mobile-prev {
    left: 10px;
  }
  .slider-header-btn--mobile-next {
    right: 10px;
  }
  .rectangle-decorate-block,
  .assistent-slider-wrap,
  .btn--header-slider,
  .header-slider__info {
    display: none;
  }
  .universities .square-decorate {
    display: none;
  }
  .header-slider__mail-title {
    font-size: 36px;
  }
  .header-slider__nav {
    position: relative;
    margin-top: 40px;
    width: 100vw;
    padding-bottom: 30px;
    max-width: 100vw;
    left: -20px;
    bottom: -137px;
  }
  .header-slider__nav-list {
    display: flex;
    align-items: center;
  }
  .header-slider__nav-item {
    width: 16.66%;
    padding: 9px 13px;
    background: linear-gradient(189.83deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
    border-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-slider__nav-icon {
    display: block;
    margin-bottom: 8px;
  }
  .header-slider__nav-num {
    padding: 0px;
  }
  .slider-line {
    display: none;
  }
}
