@media screen and (max-width: 1200px) {
  .header {
    position: static;
  }
  .header__nav {
    display: none;
  }
  .connection-info__item {
    display: none;
  }
  #menu,
  .connection-info__item--tablet,
  .connection-info__btn--tablet,
  .adaptive-header {
    display: block;
  }
  .academic-header .arrow-decorate {
    display: none;
  }
  .academic-header__title {
    font-size: 84px;
  }
  .academic__years {
    font-size: 27px;
  }
  .banner {
    font-size: 18px;
    width: 91px;
    height: 91px;
  }
  .banner::before {
    width: 75px;
    height: 75px;
  }
  .step-block {
    flex-basis: 136px;
  }
  .step-block__icon {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 997px) {
  .benefits-items {
    justify-content: center;
    margin: 50px -20px 0;
  }
  .benefits-item {
    margin: 20px;
  }
  .banner {
    display: none;
  }
  .academic-header__title {
    font-size: 67px;
  }
}
@media screen and (max-width: 800px) {
  .benefits-items {
    margin: 50px 0 0 0;
    display: grid;
    grid-template-areas: "one two" "three  four";
    grid-gap: 30px;
  }
  .benefits-item {
    margin: 0;
  }
  .benefits-item:nth-child(1) {
    grid-area: one;
  }
  .benefits-item:nth-child(2) {
    grid-area: two;
  }
  .benefits-item:nth-child(3) {
    grid-area: three;
  }
  .benefits-item:nth-child(4) {
    grid-area: four;
  }
}
