* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
input,
button {
  outline: none;
  border: none;
}
.container {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  min-width: 320px;
}
a {
  text-decoration: none;
}
.header {
  padding: 17px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(178.61deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
  z-index: 9999;
}
.header--sticky {
  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__item {
  border-bottom: 2px solid transparent;
  margin-left: 15px;
}
.header__item:hover {
  border-bottom: 2px solid #343434;
}
.header__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #343434;
  transition: 0.3s;
}
.header__item {
  position: relative;
}
.adaptive-header {
  display: none;
}
.hover-items {
  position: absolute;
  padding-top: 55px;
  display: none;
  transition: 0.3s;
}
.hover-items::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  border: 20px solid transparent;
  border-bottom: 20px solid rgba(244, 244, 244, 0.9);
  border-left: 20px solid rgba(244, 244, 244, 0.9);
}
.hover-items__list {
  padding: 20px;
  background: rgba(244, 244, 244, 0.9);
  border-radius: 6px;
  border-top-left-radius: 0;
}
.header__item:hover > .hover-items {
  display: block;
}
.subitem {
  display: flex;
  border-bottom: 2px solid #626365;
  padding-bottom: 11px;
  margin-bottom: 11px;
}
.subitem-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #555A61;
}
.subitem-link:hover {
  color: #fff;
}
.subitem-icon {
  margin-right: 16px;
}
.subitem:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.btn {
  background: linear-gradient(181.56deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
  border-radius: 18.5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border: none;
}
.btn--header-slider {
  padding: 7.5px 40px;
  background: linear-gradient(185.59deg, #ff0000 9.11%, #ce0000 98.12%);
  border-radius: 18.5px;
}
.btn--posive {
  background: linear-gradient(165.36deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 18.5px;
  color: #0031C4;
}
.btn--university {
  padding: 9px 20px;
  font-size: 20px;
  border: none;
}
.logo--header {
  flex-grow: 2;
}
#menu {
  margin-left: 40px;
}
.diamond-decorate {
  position: absolute;
  width: 206.04px;
  height: 206.04px;
  border-radius: 28px;
  transform: matrix(0.71, -0.69, 0.72, 0.71, 0, 0);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  left: 35px;
}
.diamond-decorate--blue {
  background: linear-gradient(292.97deg, #0066ff -29.27%, #00369c 92.32%, #0031c4 253.1%, #018ff6 253.13%);
}
.diamond-decorate--red {
  background: linear-gradient(206.74deg, #ff0000 9.11%, #ce0000 98.12%);
}
.diamond-decorate .diamond-decorate-transparent {
  top: 90%;
  left: 40%;
  transform: translate(0, -50%);
  position: absolute;
  width: 178.14px;
  height: 178.14px;
  border: 4px solid #BDBDBD;
  border-radius: 28px;
}
.rectangle-decorate-block {
  position: absolute;
  top: -287px;
  z-index: 2;
  right: 215px;
}
.rectangle-decorate-block__red {
  overflow: hidden;
  width: 255px;
  height: 255px;
  background: linear-gradient(206.74deg, #ff0000 9.11%, #ce0000 98.12%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  transform: matrix(0.71, -0.69, 0.72, 0.71, 0, 0);
}
.rectangle-decorate-block__transparent {
  width: 217px;
  height: 217px;
  border-radius: 28px;
  position: absolute;
  top: 47%;
  left: 200px;
  z-index: 2;
  transform: matrix(0.71, -0.69, 0.72, 0.71, 0, 0) translate(0, -50%);
  border: 4px solid #BDBDBD;
}
.rectangle-decorate-block__arr-white {
  position: absolute;
  top: -83px;
  left: -28px;
  z-index: 3;
}
.rectangle-decorate-block__arr-transparent {
  position: absolute;
  top: -83px;
  left: -5px;
  z-index: 3;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connection-info {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.connection-info-tablet {
  display: flex;
}
.connection-info__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
  white-space: nowrap;
}
.connection-info__item--tablet {
  display: none;
}
.connection-info__item--menu {
  display: block;
}
.connection-info .connection-info__btn {
  padding: 12px 26px;
  background: linear-gradient(186.68deg, #ff0000 9.11%, #ce0000 98.12%);
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
}
.connection-info__btn--red {
  padding: 12px 26px;
  margin-left: auto;
  background: linear-gradient(186.68deg, #ff0000 9.11%, #ce0000 98.12%);
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
}
.connection-info__btn--tablet {
  display: none;
}
.connection-info__btn--sticky {
  display: none;
  position: absolute;
  z-index: 3;
  bottom: -29px;
  right: -29px;
  padding: 7px 14px;
  font-size: 15px;
}
#menu {
  display: none;
}
.search {
  position: relative;
  margin-right: 60px;
}
.search__input {
  width: 233px;
  border: 1px solid #0031C4;
  background: #FFFFFF;
  border-radius: 21px;
  padding: 7px 17px;
}
.search__input::placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}
.search__btn {
  border: none;
  top: -2px;
  right: -13px;
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.search__btn--menu {
  background: linear-gradient(137.45deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
}
.navigation-item {
  display: flex;
  align-items: center;
}
.navigation-item--tablet {
  margin-right: 22px;
}
.navigation-item--phones {
  margin-right: 38px;
}
.navigation-item__inner {
  display: flex;
  flex-direction: column;
}
.navigation-item__icon {
  margin-right: 10px;
  background-color: #0066FF;
  border-radius: 50%;
}
.navigation-item__link {
  font-family: Roboto;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  white-space: nowrap;
}
details > summary::-webkit-details-marker {
  display: none;
}
summary {
  cursor: pointer;
}
.adaptive-menu {
  position: absolute;
  padding: 10px 35px;
  width: 80%;
  max-width: 650px;
  left: 0;
  z-index: 999;
  top: 0;
  font-family: Roboto;
  color: #FFFFFF;
  background: rgba(0, 102, 255, 0.88);
  display: none;
}
.adaptive-menu__info {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  padding-bottom: 30px;
  border-bottom: 2px solid #fff;
  margin-bottom: 30px;
}
.adaptive-menu ul {
  transition: 0.3s;
}
.adaptive-menu .drop-down {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.adaptive-menu .drop-down__header {
  display: flex;
  justify-content: space-between;
  width: 210px;
}
.adaptive-menu summary {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}
.adaptive-menu summary {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.adaptive-header__inner--tablet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 2px solid #0031C4;
  margin-bottom: 10px;
}
.adaptive-header__inner--tablet a {
  color: #00369C;
}
.drop-down__line {
  width: 78%;
  height: 2px;
  background-color: #fff;
  margin-right: auto;
  border: none;
}
.drop-down__item {
  margin: 8px 0;
}
.drop-down__link {
  font-size: 16px;
  color: #FFFFFF;
}
.drop-down__link-icon {
  margin-right: 5px;
}
.drop-down__line-small {
  border: none;
  width: 40px;
  height: 2px;
  background-color: #fff;
}
.navigation-menu {
  font-family: Roboto;
}
.navigation-menu__wrap {
  margin-top: 15px;
}
.navigation-menu__title {
  display: inline;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.navigation-menu__drop-down {
  margin-bottom: 10px;
}
.social-links-list {
  display: flex;
  justify-content: flex-end;
}
.social-links-list--mobile {
  display: none;
}
.social-links-item {
  margin: 0px 5px;
}
.header-slider {
  margin-top: 76px;
  overflow: hidden;
  position: relative;
  background-image: url(../img/photo/headerSlider/medicine.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  z-index: 2;
  font-family: Roboto;
  color: #FFFFFF;
  border-bottom: 5px solid #B8B8B8;
}
.header-slider__img-wrap {
  height: 100%;
}
.header-slider .arrow-decorate {
  position: absolute;
  top: -60px;
  left: 20px;
  z-index: 1;
}
.header-slider .arrow-decorate--right {
  left: 75.75%;
  top: -138px;
}
.header-slider__content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header-slider__block {
  max-width: 445px;
}
.header-slider__mail-title {
  font-style: italic;
  font-weight: 500;
  font-size: 85px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.header-slider__subtitle {
  font-style: italic;
  font-weight: bold;
  font-size: 37px;
  color: #FF0000;
}
.header-slider__info {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}
.header-slider__nav {
  position: relative;
  margin-top: 40px;
  padding-bottom: 30px;
  max-width: 70px;
}
.header-slider__nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  border-left: 3px solid rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}
.header-slider__nav-num {
  display: block;
  padding: 12px 18px;
  text-align: center;
}
.header-slider__nav-icon {
  display: none;
}
.header-slider__buttons {
  top: 75px;
  right: -115px;
  position: absolute;
}
.square-decorate {
  position: absolute;
  width: 403.12px;
  height: 403.12px;
  left: -401.88px;
  top: 671.09px;
  background: linear-gradient(206.74deg, #ff0000 9.11%, #ce0000 98.12%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  transform: matrix(0.71, -0.69, 0.72, 0.71, 0, 0);
}
.square-decorate--transparent {
  background: transparent;
  border: 3px solid #B8B8B8;
}
.opacity {
  opacity: 0.5;
}
.header-slider-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider-header-btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 7px;
}
.subtitle-wrap {
  display: flex;
  margin-bottom: 25px;
}
.subtitle-wrap .dots-img {
  margin-right: 15px;
}
.header-slider__nav-item--active {
  border-left: 5px solid #ffffff;
  font-size: 27px;
  margin-left: -1px;
  color: #FFFFFF;
  opacity: 1 !important;
}
.header-subtitle-decorate {
  margin-left: -50px;
}
.rectangle-decorate {
  position: absolute;
  height: 150%;
  width: 84%;
  border-radius: 28px;
  transform: rotate(135deg);
  background: rgba(0, 150, 235, 0.7);
  top: -20%;
  left: -660px;
}
.rectangle-decorate__inner {
  position: absolute;
  height: 93.6%;
  width: 95%;
  background: linear-gradient(274.44deg, #0066ff -9.04%, #00369c 41.93%);
  border-radius: 28px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.rectangle-decorate .arrow-decorate {
  position: absolute;
  top: -3%;
  left: 5%;
  transform: rotate(224deg);
}
.social-nav {
  position: absolute;
  top: 50%;
  right: -37px;
  transform: translate(0, -50%);
}
.social-nav__main {
  position: absolute;
  top: -20px;
  left: -5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.social-nav__list {
  position: relative;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 17px;
  padding: 40px 7px 18px 7px;
}
.social-nav__item {
  display: inline-flex;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
}
.assistent-slider-wrap {
  position: relative;
}
.header-assistent-slider {
  position: absolute;
  top: -128px;
  left: 25%;
  max-width: 835px;
  display: flex;
  z-index: 2;
}
.header-assistent-slider .slick-list {
  padding: 5px 0;
}
.assistent-slider-item {
  max-width: 266px;
  padding: 6px 18px 14px 18px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  margin: 0 10px;
  text-align: center;
  z-index: 1;
}
.assistent-slider-item__title-wrap {
  position: relative;
}
.assistent-slider-item__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: 900;
  font-size: 31px;
  line-height: 36px;
  text-align: center;
  color: #B8B8B8;
  opacity: 0.5;
}
.assistent-slider-item__icon {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}
.assistent-slider-item__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #0031C4;
  position: relative;
  margin-bottom: 10px;
}
.assistent-slider-item__subtitle::before {
  content: "";
  top: -4px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 79px;
  height: 2px;
  background: linear-gradient(180.52deg, #018ff6 -6.36%, #00369c 93.4%);
  border-radius: 18.5px;
}
.assistent-slider-item__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #6F6F6F;
  margin-bottom: 10px;
}
.assistent-slider-item__btn {
  padding: 6px 22px;
}
.button--sticky {
  display: block;
}
.title-block {
  text-align: center;
  font-family: Roboto;
}
.title-block__img {
  margin-bottom: 30px;
}
.title-block__header {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #0031C4;
  margin-bottom: 7px;
}
.title-block__info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6F6F6F;
}
.line {
  position: relative;
  margin: 0 auto 16px;
  height: 5px;
  width: 542px;
  background: linear-gradient(180.08deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.line--slide-item {
  width: 152.36px;
  height: 3px;
  margin-bottom: 20px;
}
.line::before {
  top: 0px;
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fff;
  right: -3px;
  transform: rotate(45deg);
}
.line::after {
  top: 0px;
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fff;
  left: -3px;
  transform: rotate(-45deg);
}
.line-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: linear-gradient(207.28deg, #ff0000 9.11%, #ce0000 98.12%);
  border: 3px solid #fff;
  border-radius: 50%;
}
.line-circle--slide-item {
  width: 12px;
  height: 12px;
}
.universities {
  position: relative;
  margin: 140px 0 40px;
  background-image: url('../img/photo/bg_section_1.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.universities .square-decorate {
  top: -65%;
  z-index: 2;
  left: -340px;
}
.universities .square-decorate--transparent {
  top: -65%;
  z-index: 2;
  left: -245px;
}
.universities__slider {
  display: flex;
  align-items: center;
}
.universities__slider .slick-track {
  padding: 45px 0;
}
.universities .slick-dots {
  display: flex;
  justify-content: space-between;
}
.universities .slick-dots li {
  margin-top: -2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.universities .slick-dots .slick-active {
  width: 9px;
  height: 9px;
  background: linear-gradient(207.28deg, #ff0000 9.11%, #ce0000 98.12%);
}
.universities .slick-dots button {
  display: none;
}
.slider-wrap {
  padding: 0 6.7%;
}
.slick-slide:hover .btn {
  background: #CE0000;
}
.slider-item {
  border-radius: 12px;
  border: 1px solid #ccc;
  border-bottom: 5px solid #00369C;
  text-align: center;
  font-family: Roboto;
  margin: 0 20px;
  background-color: #fff;
  transition: 0.3s;
}
.slider-item:hover {
  transform: scale(1.2);
  border-bottom: 5px solid #CE0000;
}
.slider-item__content {
  padding: 8px 8px 17px 8px;
}
.slider-item__photo {
  border-radius: 12px;
  display: block;
  width: 100%;
  object-fit: cover;
  border-bottom: 3px solid #B8B8B8;
}
.slider-item__photo :hover .btn {
  background: #CE0000;
}
.slider-item__header {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #0031C4;
  margin-bottom: 8px;
}
.slider-item__info {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6F6F6F;
  margin-bottom: 20px;
}
.slider-item__btn {
  padding: 6px 22px;
}
.slider-line {
  position: relative;
  top: 2px;
  width: 80%;
  height: 3px;
  background: linear-gradient(179.84deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
}
.slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
.btn-wrap {
  display: flex;
}
.slider-nav-btn {
  border: none;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-nav-btn--next {
  margin-left: 15px;
}
.btn--university {
  margin-right: 22px;
}
.btn--university:last-of-type {
  margin-left: auto;
  margin-right: 0;
}
.universities-navigations {
  display: flex;
}
.admission {
  position: relative;
}
.admission-block-wrap {
  display: flex;
  justify-content: space-between;
}
.steps-wrap {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}
.admission-item-wrap {
  display: flex;
  justify-content: space-between;
}
.admission-item {
  margin-top: 36px;
  width: 65%;
  max-width: 730px;
}
.admission-form {
  padding: 18px 26px 22px 26px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(132.24deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.admission-form--in-block {
  width: 33%;
  min-width: 210px;
}
.admission-form__header {
  font-size: 26px;
  line-height: 133.3%;
  font-weight: 800;
  color: #0031C4;
}
.admission-form__subtitle {
  font-size: 10px;
  line-height: 12px;
  text-align: justify;
  color: #737373;
  margin-bottom: 10px;
}
.admission-form__input {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 19px;
  color: #737373;
  opacity: 0.9;
  padding: 10px 13px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 28px;
}
.admission-form__btn {
  width: 145px;
  margin: auto;
  font-size: 22px;
  padding: 8px 47px;
  border-radius: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: normal;
}
.step-block {
  flex-basis: 155px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.step-block__icon {
  display: block;
  justify-content: center;
  margin: 0 auto 10px;
  position: relative;
}
.step-block .tringle-decorate {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  border: 55px solid transparent;
  border-top: 15px solid #fff;
}
.step-block__header {
  position: relative;
  padding: 20px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(183.02deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
  overflow: hidden;
}
.step-block__header::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 30px;
  left: 50%;
  background-color: #fff;
  border-top: 3px solid red;
  bottom: -15px;
  transform: rotate(-20deg);
}
.step-block__header::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 30px;
  left: -12px;
  background-color: #fff;
  border-top: 3px solid red;
  bottom: -14px;
  transform: rotate(20deg);
}
.step-block__subtitle {
  margin: 13px 0 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #00369C;
}
.step-block__line {
  width: 113px;
  height: 2px;
  margin: auto;
  background: linear-gradient(180.36deg, #018ff6 -6.36%, #00369c 93.4%);
  border-radius: 18.5px;
  border: none;
}
.step-block__info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #737373;
  padding: 6px 6px 30px 6px;
}
.academic-header {
  position: relative;
  padding: 24px 0;
  margin-bottom: 50px;
  background: linear-gradient(180.69deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.academic-header .arrow-decorate {
  position: absolute;
  left: 61px;
  top: -134px;
}
.academic-header__icon {
  margin-right: 8px;
}
.academic-header__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 20px;
}
.academic-header__content {
  display: flex;
  align-items: center;
}
.courses {
  margin: 35px 0 65px;
}
.courses .slick-track {
  padding: 45px 0;
}
.courses .slick-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses .slick-dots li {
  margin-top: -2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.courses .slick-dots .slick-active {
  width: 9px;
  height: 9px;
  background: linear-gradient(207.28deg, #ff0000 9.11%, #ce0000 98.12%);
}
.courses .slick-dots button {
  display: none;
}
.academic {
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.academic__years {
  padding: 0 8px;
  border: 2px solid #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  text-transform: uppercase;
}
.academic__title {
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.banner {
  position: relative;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #fff;
  color: #00369C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  margin-left: auto;
}
.banner::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #00369C;
}
.benefits {
  position: relative;
  background: url('../img/photo/benefits.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 75px;
}
.benefits .arrow-decorate {
  position: absolute;
  bottom: 0;
  left: 6.25%;
  z-index: 2;
}
.benefits-items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-item {
  padding: 15px 21px;
  flex-basis: 212px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}
.benefits-item__icon {
  display: block;
  margin: 0 auto 17px;
}
.benefits-item__info {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #00369C;
}
.benefits-item__info::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 132px;
  height: 2px;
  background: linear-gradient(180.45deg, #ff0000 9.11%, #ce0000 98.12%);
  border-radius: 18.5px;
}
.gallery .slick-track {
  padding: 40px 0 35px;
}
.gallery .slick-dots {
  display: flex;
  justify-content: space-between;
}
.gallery .slick-dots li {
  margin-top: -2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.gallery .slick-dots .slick-active {
  width: 9px;
  height: 9px;
  background: linear-gradient(207.28deg, #ff0000 9.11%, #ce0000 98.12%);
}
.gallery .slick-dots button {
  display: none;
}
.gallery-slider-item {
  margin: 0px 28px;
  border-radius: 28px;
  border-right: 3px solid #0031C4;
  border-bottom: 3px solid #0031C4;
  transition: 0.3s;
}
.gallery-slider-item:hover {
  transform: scale(1.2);
  border-bottom: 3px solid #CE0000;
  border-right: 3px solid #CE0000;
}
.feedback {
  background: url('../img/photo/feedback-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
}
.feedback-slider {
  border: 6px solid #0031C4;
  max-width: 935px;
  margin: 0 auto;
  position: relative;
}
.feedback-slider .slick-list {
  margin: 0;
}
.feedback-slider .slick-dots {
  display: flex;
}
.feedback-slider .slick-dots li {
  margin: 0 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(137.45deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
}
.feedback-slider .slick-dots .slick-active {
  width: 14px;
  height: 14px;
  background: linear-gradient(207.28deg, #ff0000 9.11%, #ce0000 98.12%);
}
.feedback-slider .slick-dots button {
  display: none;
}
.feedback-slider__nav {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  bottom: -16px;
  background-color: #fff;
}
.feedback-slider__list {
  display: flex;
  margin-right: 20px;
}
.quotes {
  padding: 0px 14px;
  background-color: #fff;
  position: absolute;
  top: -20px;
  left: 38px;
}
.feedback-item {
  margin: 46px 50px;
  padding: 23px 35px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #0031C4;
}
.feedback-item__inner {
  display: grid;
  grid-template-areas: "img title" "img subtitle" "img textItem" ". textItem";
}
.feedback-item__img {
  grid-area: img;
  position: relative;
  bottom: 40px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 28px;
  border-right: 4px solid #0031C4;
  border-bottom: 4px solid #0031C4;
  margin-right: 35px;
}
.feedback-item__title {
  grid-area: title;
  font-size: 22px;
  margin-bottom: 15px;
}
.feedback-item__subtitle {
  grid-area: subtitle;
  font-size: 12px;
  margin-bottom: 15px;
}
.feedback-item__text {
  grid-area: textItem;
  font-size: 14px;
  color: #6F6F6F;
}
.footer {
  background: linear-gradient(177.39deg, #0066ff -13.52%, #00318e 32.41%);
  position: relative;
}
.footer::before {
  content: "";
  z-index: -999999;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 479.5px;
  height: 76.58px;
  border-radius: 30px;
  padding: 12px 90px 17px;
  background: #0052d5;
}
.telephones {
  top: -18px;
  position: relative;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-flex;
  justify-content: center;
}
.telephones__inner {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
}
.telephones__link {
  position: relative;
  z-index: 99;
  font-size: 23px;
  color: #FFFFFF;
}
.telephones__icon {
  position: relative;
  z-index: 99;
}
.upBtn {
  position: fixed;
  bottom: 20px;
  display: none;
  margin: 20px auto;
  justify-content: center;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  cursor: pointer;
}
.upBtn .upArrow {
  position: relative;
  display: block;
  animation: animat 1s infinite;
}
.form-title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
.footer-form {
  padding-bottom: 40px;
  border-bottom: 2px solid #fff;
  margin-bottom: 34px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #FFFFFF;
}
.footer-form--item {
  margin-bottom: 20px;
}
.footer-form__input {
  padding: 12px 0 12px 15px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 30px;
  outline: none;
  border: none;
}
.footer-form__input--name {
  display: block;
  flex-basis: 235px;
  width: 235px;
}
.footer-form__input--country {
  flex-basis: 125px;
  width: 125px;
}
.footer-form__input--phone {
  flex-basis: 195px;
  width: 195px;
}
.footer-form__input--email {
  flex-basis: 216px;
  width: 216px;
}
.footer-form__btn {
  padding: 8px 45px;
  border-radius: 30px;
  background: linear-gradient(185.19deg, #ff0000 9.11%, #ce0000 98.12%);
  font-style: normal;
  font-size: 22px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px 30px -20px;
}
.footer-item {
  flex-basis: 232px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  margin: 20px;
}
.footer-item__text {
  font-size: 14px;
  text-align: justify;
}
.footer-item__title {
  position: relative;
  font-size: 25px;
  margin-bottom: 22px;
}
.footer-item__title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.footer-item__subtitle {
  position: relative;
  font-size: 19px;
  margin-bottom: 24px;
  color: #fff;
  display: block;
}
.footer-item__subtitle::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 34px;
  height: 2px;
  background-color: #fff;
}
.footer-item__link {
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.copiright {
  padding: 20px 0;
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #001C53;
}
@keyframes animat {
  from {
    top: -20px;
  }
  to {
    top: 0;
  }
}
