* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
.container {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  min-width: 320px;
}
a {
  text-decoration: none;
}
.header {
  padding: 17px 0;
  position: sticky;
  top: 0;
  background: linear-gradient(178.61deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
  z-index: 9999;
}
.header--sticky {
  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__item {
  border-bottom: 2px solid transparent;
  margin-left: 15px;
}
.header__item:hover {
  border-bottom: 2px solid #343434;
}
.header__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #343434;
  transition: 0.3s;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connection-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-slider {
  overflow: hidden;
  position: relative;
  z-index: 2;
  font-family: Roboto;
  background: url('../img/photo/slider\ business.png');
  background-color: #0031C4;
  color: #FFFFFF;
}
.header-slider__content {
  position: relative;
}
.header-slider__block {
  max-width: 425px;
}
.header-slider__mail-title {
  font-style: italic;
  font-weight: 500;
  font-size: 85px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.header-slider__subtitle {
  font-style: italic;
  font-weight: bold;
  font-size: 37px;
  color: #FF0000;
}
.header-slider__info {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}
.header-slider__nav {
  margin-top: 40px;
  padding-bottom: 30px;
  max-width: 70px;
}
.header-slider__nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  border-left: 3px solid rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}
.header-slider__nav-num {
  display: block;
  padding: 12px 18px;
  text-align: center;
}
.subtitle-wrap {
  display: flex;
  margin-bottom: 25px;
}
.subtitle-wrap .dots-img {
  margin-right: 15px;
}
.header-slider__nav-item--active {
  border-left: 5px solid #ffffff;
  font-size: 27px;
  margin-left: -1px;
}
.header-subtitle-decorate {
  margin-left: -50px;
}
.square-decorate {
  z-index: -1;
  position: absolute;
  width: 1178.66px;
  height: 954.03px;
  background: linear-gradient(274.44deg, #0066ff -9.04%, #00369c 41.93%);
  border-radius: 28px;
  opacity: 0.9;
  transform: rotate(138deg);
  border: 47px solid rgba(0, 150, 235, 0.4);
  left: -138px;
  top: -181px;
}
.social-nav {
  position: absolute;
  top: 50%;
  right: -37px;
  transform: translate(0, -50%);
}
.social-nav__main {
  position: absolute;
  top: -20px;
  left: -5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.social-nav__list {
  position: relative;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 17px;
  padding: 40px 7px 18px 7px;
}
.social-nav__item {
  display: inline-flex;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
}
.assistent-slider-wrap {
  position: relative;
}
.header-assistent-slider {
  position: absolute;
  top: -128px;
  left: 50%;
  max-width: 835px;
  margin: 0 auto;
  display: flex;
  z-index: 2;
  transform: translate(-50%, 0);
}
.assistent-slider-item {
  max-width: 266px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  margin: 0 10px;
}
.title-block {
  text-align: center;
  font-family: Roboto;
}
.title-block__header {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #0031C4;
}
.title-block__info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6F6F6F;
}
.line {
  position: relative;
  margin: 0 auto;
  height: 5px;
  width: 542px;
  background: linear-gradient(180.08deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.line--slide-item {
  width: 152.36px;
  height: 3px;
  margin-bottom: 20px;
}
.line::before {
  top: 0px;
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fff;
  right: -3px;
  transform: rotate(45deg);
}
.line::after {
  top: 0px;
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fff;
  left: -3px;
  transform: rotate(-45deg);
}
.line-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: linear-gradient(207.28deg, #ff0000 9.11%, #ce0000 98.12%);
  border: 3px solid #fff;
  border-radius: 50%;
}
.line-circle--slide-item {
  width: 12px;
  height: 12px;
}
.universities {
  margin-top: 140px;
  background-image: url('../img/photo/bg_section_1.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.universities__slider {
  display: flex;
  align-items: center;
}
.universities__slider .slick-track {
  padding: 50px 0;
}
.slider-item:hover > .slider-item__btn {
  background-color: #CE0000 !important;
}
.slider-wrap {
  padding: 0 132px;
}
.slider-item {
  border-radius: 12px;
  border: 1px solid #ccc;
  border-bottom: 5px solid #00369C;
  text-align: center;
  font-family: Roboto;
  margin: 0 20px;
  background-color: #fff;
  transition: 0.3s;
}
.slider-item:hover {
  transform: scale(1.2);
  border-bottom: 5px solid #CE0000;
}
.slider-item__content {
  padding: 8px 8px 17px 8px;
}
.slider-item__photo {
  border-radius: 12px;
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-bottom: 3px solid #B8B8B8;
}
.slider-item__header {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #0031C4;
  margin-bottom: 8px;
}
.slider-item__info {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6F6F6F;
  margin-bottom: 20px;
}
.slider-item__btn {
  padding: 6px 22px;
}
.slick-list {
  margin: 50px 0;
  overflow: hidden;
}
.btn {
  background: linear-gradient(181.56deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
  border-radius: 18.5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}
.btn--header-slider {
  padding: 7.5px 40px;
  background: linear-gradient(185.59deg, #ff0000 9.11%, #ce0000 98.12%);
  border-radius: 18.5px;
}
.btn--posive {
  background: linear-gradient(165.36deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 18.5px;
  color: #0031C4;
}
.btn--university {
  padding: 9px 20px;
  font-size: 20px;
  border: none;
}
.opacity {
  opacity: 0.5;
}
.slider-line {
  position: relative;
  width: 80%;
  height: 3px;
  background: linear-gradient(179.84deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
}
.slider-line-point {
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient(188.21deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.slider-line-point:nth-child(10) {
  left: 99.99%;
}
.slider-line-point:nth-child(9) {
  left: 88.88%;
}
.slider-line-point:nth-child(8) {
  left: 77.77%;
}
.slider-line-point:nth-child(7) {
  left: 66.66%;
}
.slider-line-point:nth-child(6) {
  left: 55.55%;
}
.slider-line-point:nth-child(5) {
  left: 44.44%;
}
.slider-line-point:nth-child(4) {
  left: 33.33%;
}
.slider-line-point:nth-child(3) {
  left: 22.22%;
}
.slider-line-point:nth-child(2) {
  left: 11.11%;
}
.slider-line-point:nth-child(1) {
  left: 0%;
}
.slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-wrap {
  display: flex;
}
.slider-nav-btn {
  border: none;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-nav-btn--next {
  margin-left: 15px;
}
.btn--university {
  margin-right: 22px;
}
.btn--university:last-of-type {
  margin-left: auto;
  margin-right: 0;
}
.universities-navigations {
  display: flex;
}
.admission-block-wrap {
  display: flex;
  justify-content: space-between;
}
.admission-item {
  display: flex;
  justify-content: space-between;
}
.admission-form {
  padding: 18px 26px 22px 26px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(132.24deg, #f4f4f4 -0.37%, #b8b8b8 104.82%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.admission-form__header {
  font-size: 28px;
  line-height: 133.3%;
  /* or 37px */
  font-style: bold;
  text-align: center;
  /* Linear */
  color: #0031C4;
}
.admission-form__subtitle {
  font-size: 10px;
  line-height: 12px;
  text-align: justify;
  color: #737373;
}
.admission-form__input {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 19px;
  color: #737373;
  opacity: 0.9;
  padding: 10px 13px;
  border-radius: 10px;
  border: none;
  margin-bottom: 28px;
}
.academic-header {
  padding: 24px 0;
  background: linear-gradient(180.69deg, #0066ff -8.5%, #00369c 51.46%, #0031c4 130.73%, #018ff6 130.74%);
}
.academic-header__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.academic-header__content {
  display: flex;
  align-items: center;
}
.academic {
  margin-top: 20px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.academic__years {
  border: 2px solid #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  text-transform: uppercase;
}
.academic__title {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 54px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}
.banner {
  position: relative;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #fff;
  color: #00369C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  margin-left: auto;
}
.banner::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #00369C;
}
.benefits {
  background: url('../img/photo/benefits.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.benefits-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-item {
  padding: 15px 21px;
  flex-basis: 212px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}
.benefits-item__icon {
  display: block;
  margin: 0 auto 17px;
}
.benefits-item__info {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #00369C;
}
.benefits-item__info::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 132px;
  height: 2px;
  background: linear-gradient(180.45deg, #ff0000 9.11%, #ce0000 98.12%);
  border-radius: 18.5px;
}
.gallery-slider-item {
  margin: 0px 28px;
  border-radius: 28px;
  border-right: 3px solid #0031C4;
  border-bottom: 3px solid #0031C4;
  transition: 0.3s;
}
.gallery-slider-item:hover {
  transform: scale(1.2);
  border-bottom: 3px solid #CE0000;
  border-right: 3px solid #CE0000;
}
.feedback {
  background: url('../img/photo/feedback-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
}
.feedback-slider {
  border: 6px solid #0031C4;
  max-width: 935px;
  position: relative;
}
.feedback-slider .slick-list {
  margin: 0;
}
.quotes {
  padding: 0px 14px;
  background-color: #fff;
  position: absolute;
  top: -20px;
  left: 38px;
}
.feedback-item {
  margin: 46px 50px;
  padding: 23px 35px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #0031C4;
}
.feedback-item__inner {
  display: flex;
}
.feedback-item__img {
  position: relative;
  bottom: 40px;
  display: block;
  border-radius: 28px;
  border-right: 4px solid #0031C4;
  border-bottom: 4px solid #0031C4;
  margin-right: 35px;
}
.feedback-item__title {
  font-size: 22px;
  margin-bottom: 15px;
}
.feedback-item__subtitle {
  font-size: 12px;
  margin-bottom: 15px;
}
.feedback-item__text {
  font-size: 14px;
  color: #6F6F6F;
}
.footer {
  background: linear-gradient(177.39deg, #0066ff -13.52%, #00318e 32.41%);
}
.telephones {
  position: relative;
  border-radius: 30px;
  padding: 12px 90px 17px;
}
.telephones::before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: red;
}
.telephones__inner {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
}
.telephones__link {
  font-size: 23px;
  color: #FFFFFF;
}
.upBtn {
  position: sticky;
  bottom: 0;
  display: none;
  justify-content: center;
  cursor: pointer;
}
.upBtn .upArrow {
  position: relative;
  display: block;
  margin-bottom: 20px;
  animation: animat 1s infinite;
}
.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
.footer-form {
  padding-bottom: 40px;
  border-bottom: 2px solid #fff;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 40px;
  color: #FFFFFF;
}
.footer-form__input {
  padding: 12px 0 12px 15px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 30px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer-item {
  flex-basis: 232px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}
.footer-item__text {
  font-size: 14px;
  text-align: justify;
}
.footer-item__title {
  position: relative;
  font-size: 25px;
  margin-bottom: 22px;
}
.footer-item__title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.footer-item__subtitle {
  position: relative;
  font-size: 19px;
  margin-bottom: 24px;
}
.footer-item__subtitle::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 34px;
  height: 2px;
  background-color: #fff;
}
.footer-item__link {
  font-size: 12px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.copiright {
  padding: 20px 0;
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #001C53;
}
@keyframes animat {
  from {
    top: -20px;
  }
  to {
    top: 0;
  }
}
