.comment-item {
    padding: 0 20px 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 653px;;
    position: relative;
    background: #FFFFFF;
    // border-radius: 24px;
    border-top-right-radius:24px;
    // border-top-left-radius:24px;
    border-bottom-right-radius:24px;
    border-bottom-left-radius:24px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    margin-left: 20px;
    background-color: #fff;
  
 
    // &__wrap {
    //     background-color: #fff;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 24px;
    //     box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    //     border: 1px solid #ccc;
    //     background-color: #fff;
    //     z-index: 99;
    // }
    &__title {
        left: -1px;
        top: -32px;
        padding: 5px 20px 1px;
        position: absolute;
        /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25); */
        border: 1px solid #ccc;
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        background-color: #fff;
        border-bottom: none;
       
        &-wrap {
           position: relative;
           font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 133.3%;
color: #0066FF;
        //   
        }
        //   background-color: #fff;
        //     font-weight: bold;
        //     font-size: 18px;
        //     color:#0031C4;
        //     border-bottom: 2px solid #FF0000;
        // }
    }

    &__line {
        width: 100%;
        height: 2px;
        background: linear-gradient(207.28deg, #FF0000 9.11%, #CE0000 98.12%);
        border-radius: 18.5px;
        border: none;
        outline: none;
    }

    &__date {
        font-size: 10px;
        line-height: 12px;
        color: #018FF6;
    }

    &__text {
        font-size: 14px;
        line-height: 16px;
        color: #737373;

    }

    &__btn {
        font-size: 15px;
        line-height: 18px;
        text-align: center;

        color: #FFFFFF;

    }
}

.test {
    margin-top: 50px;
}