@media screen and (max-width: 1600px) {
    .header-slider__mail-title {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1570px) {
    .rectangle-decorate-block {
        top: -156px;
        right: -136px; 
       
        &__transparent{
            top: 42%;
            left: 109px;
        
          width: 138.45px;
            height: 138.45px;
        }
        &__arr-white {
            top: -77px;
        }
        &__arr-transparent {
            top: -77px;
        }
    }

    .header-slider {
        .arrow-decorate--right {
            left: 80%;
        }
        .arrow-decorate--left{
            top: -25px;
            left: -79px;
        }
    }

    .about-section {
        .square-decorate {
            top: -207px;
            left: -296px;
            &--transparent {
                left: -257px;
                top: -200px;
            }
        }
        .arrow-decorate {
            left: -129px;
        }
       .dots-decorate-blue {
            top: 260px;
            left: -50px;
       }
    }

        .comments-section{ 
            .arrow-decorate-blue {
                left: 0;
            }
   
        .arrow-decorate-greey {
            right: -77px;
        }
    }
}

@media screen and (max-width: 1450px) {
    .header-decorate {
        top: -154%;
    }
}

@media screen and (max-width: 1200px) {
    .header-slider{
        // background-size: cover;
        &__mail-title {
            font-size: 55px;
        }
        &__subtitle {
            font-size: 27px; 
        }
        &__block {
            margin-top: 80px;
        }
    }

  
    .header-decorate {
        right: 55%;
        top: -156%;
    }
    // .header-slider__mail-title {
    //     font-size: 55px;
    // }
    // .header-slider__subtitle {
    //     font-size: 27px; 
    // }
    // .header-slider__block {
    //     margin-top: 80px;
    // }

    .universe-item {       
        max-width: 80px;
        &__title {        
            font-size: 12px; 
        }
        &__text {
            font-size: 10px;   
        }
    }

    .admission-form {
        padding: 18px 22px 22px 22px;
        &__header {
            font-size: 24px;
        }
        &__item {
            padding: 10px 0 ;
        }
    }
}


@media screen and (max-width: 997px){
    .header-slider {
        background-position: 46%, 0;
        &__mail-title {
            font-size: 51px;
        }
        &__subtitle {
            font-size: 20px;
        }
        .dots-img {
            width: 48px;
            height: 36px;
            margin-right: 15px;
        }
    }

    .header-subtitle-decorate {
        margin-left: -35px;
    }
    .rectangle-decorate-block {
        right: -231px;
    }

    .admission-form {
        
       padding: 18px;
        &__header {
            font-size: 18px;
            text-align: left;
        }
         &__subtitle {
            text-align: left;
         }
         &__input {
             padding: 12px;
             margin-bottom: 18px;
         }
         &__link {
            font-size: 15px;
        }
        &__btn {
            width: 90px;
            font-size: 13px;
            padding: 8px 28px;
        }
    }

     .check-universe {
        &__btn {
            margin: 7px 0;
            max-width: 103px;
            font-size: 13px;
        }

        &__list {
            &::before {
                top: 49%;
            }
            &::after {
                top: 49%;
            }
        }
        .bottom-active {
            &::before {
                top: 81%;
            }
            &::after {
                top: 81%;
            }
        }
    }

     .universe-item {
        padding: 20px 9px 7px;
        max-width: 61px;

        &__title {
            font-size: 10px;
        }
        &__text {
            font-size: 8px;
        }
    }
    .top-active{
        &::before {
            top: 17%;
        }
        &::after {
            top: 17%;
        }
    }
}

@media screen and (max-width: 800px){
    .header-slider {
        background-position: 41%, 0;
    }
}

// mobile marcup
@media screen and (max-width: 760px){
    .header-slider {
        height: 370px;
        overflow: visible;
        background-image: url('../img//photo/assistent-img-bg-mobile.png');
        background-size: cover;
        &-wrap {
            height: 82px;
        }
       &__mail-title {
        font-size: 36px;
        margin-top: 0;
    }
    &__subtitle {
        font-size: 12.5px;
    }
    &__block {
        position: absolute;
        top: -23%;
        width: 100%;
        min-width: 100%;
    }
}

.header-subtitle-decorate {
    margin-left: 1px;
}

.dots-img {
    display: none;
}
.dots-img-mobile {
    display: block;
    margin-right: 9px;
}

.decor-arrow {
    display: block;
    position: absolute;
    top: 37px;
    right: 58px;
}


.header-decorate {
    right: 0;
    top: -50%;
   
    &__inner {
        width: 0;
        height: 0;
    }

    
}
.header-slider__subtitle {
    display: flex;
    
}

.subtitle-wrap {
    margin-bottom: 0;
}

    .header-decorate {
        width: auto;
        height: 82px;
        right: 0;
        top: -50%;
        // width: 515px;
        background:none;
        background-repeat: no-repeat;
        background-size: cover;
        transform: none;
        &__inner {
            width: 0;
            height: 0;
            background: transparent;
            border-radius: 28px;
            transform: none
        }
        img {
            position: relative;
            display: block;
            width: 100%;
            height: 189px;
            top: 160%;
        }
    }
    

    .about,
    .check-universe__wrap {
        width: 100%;
    }

    .check-universe__wrap, 
    .universe-items {
        flex-direction: column;
    }

    .check-universe{
        &__buttons{
            margin-right: 0;
            width: 72%;
            margin-bottom: 27px;
        }
        &__btn{
            width: 100%;
            max-width: 100%;
        }
        &__list {
            &::before {
                width: 0;
                height: 0;
            }

            &::after {
                width: 0;
                height: 0;
            }
        }

        &__btn--active {
            position: relative;
            &::before {
                left: -4px;
                transform: translate(0, -50%);
                top: 50%;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: linear-gradient(188.21deg, #0066FF -8.5%, #00369C 51.46%, #0031C4 130.73%, #018FF6 130.74%);
                content: "";
                position: absolute;
            }
            &::after {
                transform: translate(0, -50%);
                content: "";
                position: absolute;
                top: 50%;
                right: -4px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: linear-gradient(188.21deg, #0066FF -8.5%, #00369C 51.46%, #0031C4 130.73%, #018FF6 130.74%);
            }
        }
    }

    .universe-items {
        margin: 0 auto;
    }
    .universe-item {
        padding: 15px 9px;
        max-width: 72%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 14px;

        &::before {
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%) rotate(-90deg);
        }
        
        &::after {
            top: 50%;
            transform: translate(0, -50%) rotate(270deg);
            left: 100%;
        }
    
    }

    .comments-section{
        &__comments{
            margin-bottom: 30px;
        }
    }
    .forms-wrap{
        width: 100%;
    }

    .comment-item{
        margin-bottom: 55px;
        &__text{
            margin-bottom: 17px;
        }
        &__btn {
            margin-right: auto;
        }
        &--question::before {
            height: 85.45px;
            bottom: -84px
        }
    }

    .btn--header-slider {
        position: relative;
        display: flex;
        margin: 16px auto;
        width: 95px;
        padding: 7px 13px;
        font-size: 12px;
        left: -18px;
    }
    .quick-navigation,
    .about-form,
    .diamond-decorate,
    .rectangle-decorate-block{
        display: none;
    }
    .about-section .arrow-decorate-right{
        display: none;
    }
    .about-section .square-decorate {
        display: none;
    }
    .comments-section .arrow-decorate-blue {
        display: none;
    }
    .comments-section .arrow-decorate-greey {
        display: none;
    }
}

@media screen and (max-width: 700px){

    .header-slider {
        margin-bottom: 0;
    }
    .academic-header {
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px){
    .header-slider {
        background-position: 61%, 40%;
    }
}