@media screen and (max-width: 1770px) {
    .rectangle-decorate-block {
        right: -88px;
    }
    .diamond-decorate {
        position: absolute;
        width: 168px;
        height:168px;
        border-radius: 28px;
        transform: matrix(0.71, -0.69, 0.72, 0.71, 0, 0);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        left: -137px;
        top: -9px;
    
    
        .diamond-decorate-transparent{
        top: 74%;
        left: 30%;
        transform: translate(0, -50%);
        position: absolute;
        width: 145.77px;
        height: 145.77px;
        border: 4px solid #BDBDBD;
        border-radius: 28px;
    }
}
}


@media screen and (max-width: 1600px) {

    .rectangle-decorate {
        // position: absolute;
        // height: 150%;
        // width: 84%;
        // border-radius: 28px;
        // transform: rotate(135deg);
        // background: rgba(0, 150, 235, 0.7);
        left: -45%;
        top: -54%;
        }
    .universities {
        .square-decorate {
            top: -46%;
            z-index: 2;
            left: -434px;
        
            &--transparent {
                top: -46%;
                z-index: 2;
                left: -396px;
            }
        }
    }
  
    .header-assistent-slider {
        left: 20%;
    }
}

@media screen and (max-width: 1400px){
    .header-assistent-slider {
        left: 16%;
    }
    .diamond-decorate {
        left: -167px;
    }
}



@media screen and (max-width: 1200px) {
    .header {
        &__nav {
            display: none;
        }
    }

    .header-assistent-slider {
        left: 16%;
        max-width: 680px;
    }
    .rectangle-decorate {
    // position: absolute;
    // height: 150%;
    // width: 84%;
    // border-radius: 28px;
    // transform: rotate(135deg);
    // background: rgba(0, 150, 235, 0.7);
    left: -45%;
    top: -54%;
    }


   
    .connection-info__item {
        display: none;
    }

    #menu,
    .connection-info__item--tablet,
    .connection-info__btn--tablet,
    .adaptive-header  {
        display: block;
    }

    .connection-info__btn--sticky {
        display: none;
    }
    .button--sticky {
        display: none;
    }
    

    .academic-header {
      .arrow-decorate {
          display: none;
      }
        &__title {
            font-size: 84px; 
        }
    }

    .academic {
        &__years {
            font-size: 27px; 
        }
    }

    .banner {
        font-size: 18px;
        width: 91px;
        height: 91px;
    }

    .banner::before {
        width: 75px;
        height: 75px;
    }
    .step-block {
        flex-basis: 136px;
        &__icon {
            width: 90px; 
            height: 90px; 
        }
    }
}


@media screen and (max-width: 1100px){
    .header-assistent-slider {
        left: 11%;
    }
    .opacity {
        opacity: 1;
    }
    
    // .admission-form {
    //     &--in-block {
          
    //     }
    // }
}

@media screen and (max-width: 997px)  {

    .benefits-items {
        justify-content: center;
        margin: 50px -20px 0;
      
    }
   
    .benefits-item {
        margin: 20px;
    
    }

    .banner {
        width: 70px;
        height: 70px;
        // display: none;
        font-size: 13px;
        &::before{
            width: 57px;
            height: 57px;
        }
    }
    .academic-header {
        &__title {
            font-size: 65px; 
        }
    }
    
    .connection-info__btn {
        padding: 12px 26px;
        margin-left: auto;
    }
}

@media screen and (max-width: 997px)  {

    .benefits-items {
        justify-content: center;
        margin: 50px -20px 0;
      
    }
   
    .benefits-item {
        margin: 20px;
    
    }

    .banner {
        width: 70px;
        height: 70px;
        // display: none;
        font-size: 13px;
        &::before{
            width: 57px;
            height: 57px;
        }
    }
    .academic-header {
        &__title {
            font-size: 65px; 
        }
    }
    
    .connection-info__btn {
        padding: 12px 26px;
        margin-left: auto;
    }
    .rectangle-decorate-block {
        display: none;
    }
    .social-nav {
        right: 0;
    }
    .header-assistent-slider {
        left: 50%;
        transform: translate(-50%, 0);
    }
}




@media screen and (max-width: 890px) {

    // .connection-info__item--tablet,
    // .connection-info__btn--tablet{
    //     display: none;
    // }


    // .social-nav {
    //     display: none;
    // }
    .connection-info__btn {
        padding: 9px 21px;
       
    }
    .arrow-decorate{
        display: none;
    }
    .navigation-item__link {
        font-size: 10px;
    }
    .header-assistent-slider {
        left: 54%;
    }
    .academic-header__icon {
        width: 60px;
    }
    .academic-header__title {
        font-size: 55px;
    }
    .footer-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__input {
          flex-basis: 100%;
          width: 80%;
          margin: 15px auto;
        }

        &__btn {
            margin: 0 auto;
        }
    }
    .footer-items {
        margin: 0 -20px 0 -20px;
    }

 
    .admission-item-wrap {
        flex-direction: column;
    }

    // 
    .feedback-item {
        margin: 46px 50px;
        padding: 23px 35px;
        background: #FFFFFF;    
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: #0031C4;
    
        &__inner {
            display: grid; //
            grid-template-areas: "img title"
                                "img subtitle"
                                "textItem textItem";
            
        }
    
        &__img {
            grid-area: img;
            position: relative;
            bottom: 40px;
            display: block;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 28px;
            border-right: 4px solid #0031C4;
            border-bottom: 4px solid #0031C4;
            margin-right: 35px;
        }
        
        &__title {  
            grid-area: title;
            font-size: 22px;
         
            margin-bottom: 15px;
        }
    
        &__subtitle {
            grid-area: subtitle;
            font-size: 12px;
            margin-bottom: 15px;
        }
    
        &__text {
            grid-area: textItem;
            font-size: 14px;
            color: #6F6F6F;
        }
    
    }
}

@media screen and (max-width: 800px) {

    .header {
        position: static;
    }
    .header-assistent-slider,
    .connection-info__item--tablet,
    .connection-info__btn--tablet,
    .social-links-list {
       display: none;
   }

    

    .social-links-list--mobile{
        display: flex;
    }

    .connection-info__btn--sticky {
        display: block;
    }

    .connection-info__btn{
       padding: 7px;
       bottom: -31px;
       right: 10px
    }

  
   
//    .header {
//    }
    .benefits-items {
        margin: 50px 0 0 0;
        display: grid;//
        grid-template-areas: "one two"
                            "three  four";
        grid-gap: 30px;
      
    }

    .benefits-item {
        margin: 0;
    }

    .benefits-item:nth-child(1) {
        grid-area: one;
    }
    .benefits-item:nth-child(2) {
        grid-area: two;
    }
    .benefits-item:nth-child(3) {
        grid-area: three;
    }
    .benefits-item:nth-child(4) {
        grid-area: four;
    }
    
}


@media screen and (max-width: 500px){
    .connection-info-tablet{
        width: 100%;
        justify-content: space-between;
    }
    .navigation-item--tablet {
        margin-right: 1%;
    }
    .navigation-item__link {
        font-size: 8px;
    }
    .navigation-item__icon {
        margin-right: 5px;
        width: 9px;
        height: 9px;
    }

    .header-wrap {
        display: flex;
        justify-content: space-between;
    }
    .logo--header {
        flex-grow: 0;
        img {
            height: 25px;
            width: 113px;
        }
    }
#menu {
    margin-left: 0;
}



}
// @media screen and (max-width: 1300px) {
//     .arrow-decorate,
//     .square-decorate {
//         display: none;
//     }
//     .header-slider {
        
    
//         &__nav {
//             position: relative;
//             margin-top: 40px;
//             padding-bottom: 30px;
//            max-width: 100%; //
//            &-list {
//             display: flex;//
//             align-items: center;//
//         }
//             &-item {
//                 padding: 9px 13px;//
//                 background: linear-gradient(189.83deg, #0066FF -8.5%, #00369C 51.46%, #0031C4 130.73%, #018FF6 130.74%);//
          
//                 border-left: 0px;//
               
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//             }
//             &-icon {
//                 display: block;
//                 margin-bottom: 8px;//
//             }
    
//             &-num {
//                 padding: 0px;//
//             }
//         }
    
       
//     }
// }