@media screen and (max-width: 1200px) {
    .header {
        position: static;
        &__nav {
            display: none;
        }
    }

    .connection-info {
        display: none;
    }

    #menu,
    .connection-info__item--tablet,
    .connection-info__btn--tablet,
    .adaptive-header  {
        display: block;
    }

    .academic-header {
      
        &__title {
            font-size: 84px; 
        }
    }

    .academic {
    
        &__years {
          
            font-size: 27px; 
       
        }
    
    
   
    }
    .banner {
       
        font-size: 18px;
     
        width: 91px;
        height: 91px;
      
    }
    .banner::before {
      
        width: 75px;
        height: 75px;
     
    }


    .step-block {
        flex-basis: 136px;
      
        
        &__icon {
          
            width: 90px; 
            height: 90px; 
    
        }
       
        }
    
     
}