*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body{
    /* overflow-x: hidden; */
}
.wrap{
    position: relative;
    z-index: 999999;
}
.active-num{
    color: greenyellow;
}
.slider__images{
    display: flex;
    /* overflow-x: scroll; */
    /* overflow-x: hidden; */
    /* scroll-behavior: smooth; */
    /* min-height: calc(100% + 30px); */
    /* scrollbar-width: none; */
    transition: 0.7s;
}
.slide-item-wrap{
    position: relative;
}
/* 
.slider__images::-webkit-scrollbar { width: 0; }
.slider__images { -ms-overflow-style: none; } */

.slider{
    position: relative;
    z-index: 2;
    overflow: hidden;
    /* height: calc(100vh - 900px); */
}


.slider__nums{
    position: absolute;
    bottom: 140px;
    left: 100px;
}

.slide-img{
    position: relative;
    z-index: -1;
    display: block;
    min-width: 100vw;
    /* height: 800px; */
    height: 800px;
    object-fit: cover;
}

.active-img{
    left: 0;
}
.slider__block{
    position: absolute;
    top: 200px;
    left: 90px;
}
.slider-item-wrap{
    position: relative;
    height: 900px;
}

.btn{
    position: relative;
    z-index: 9999;
}

.slider__subitems{
/* width: 800px; */
    position: absolute;
    z-index: 9999;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
  


}

.subitem{
    min-width: 200px;
    position: relative;
    text-align: center;
    padding: 30px;
    background-color: bisque;
    margin: 0 20px;
     /* overflow-x: scroll; */
     z-index: 99999 !important;
}


.slider{
    position: relative;
    overflow: hidden;
    z-index: 999;
}
.squere{
    position: absolute;
    /* width: 400px;
    height: 300px; */
    background-color: seagreen;
   
    opacity: 0.5;
    width: 1355.16px;
    height: 1263.78px;
    left: -53%;
    top: -30%;
    z-index: 1;

    border-radius: 45px;
    transform: rotate(-45deg)
}

