*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 900px;
    /* margin: 0 -20px; */
}

.slider-container{
    overflow: hidden;
    background-color: #ccc;
}

.slider-track{
    display: flex;
    transition: 0.3s;
}

.slider-item{
    height: 100px;
    min-width: 200px;
    margin: 0 20px;
}

.slider-item:nth-child(3n+1){
    background-color: red;
}


.slider-item:nth-child(3n+2){
    background-color: greenyellow;
}


.slider-item:nth-child(3n+3){
    background-color: blue;
}

.item{
    width: 200px;
    height: 100px;
    background-color: chartreuse;
    /* margin: 0 20px; */
}

.test{
    /* background-color: crimson; */
    opacity: 0.5;
}



.curSlider {
    background-color: yellow;
}

.line{
    display: flex;
    width: 900px;
    margin: auto;
    position: relative;
    list-style: none;
}

.item-num-slide{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: yellowgreen;
    margin: 0px 50px;
}

.item-num-slide_active{
    background-color: red;
}


.message{
    margin: 50px;
    position: relative;
    width: 500px;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 15px;
    /* z-index: 999; */
    z-index: 9;
    background-color: #fff;
}

.message::before{
    content: "";
    width: 30px;
    height: 30px;
    border: 3px solid #000;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -14px;
    left: 146px;
    z-index: 8;

}

.message__title{
    position: absolute;
    top: -29px;
    left: -3px;
    z-index: 999;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    /* padding: 10px 50px; */
    height: 50px;
    width: 170px;
    border-bottom: none;
    /* border-left: none; */

    /* z-index: -1; */
}

.message__title::before{
    content: "";
   
    width: 14px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 37px;
    background-color: #fff;
}
.message p{
    position: relative;
    z-index: 9999;
}
.message__title::after{
    content: "";
    width: 20px;
    height: 25px;
    position: absolute;
    left: 160px;
    top: 26px;
    background-color: #fff;


}

.message-btn{

}